<head>
<meta charset="utf-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>龙卷风·短网址TinyURL</title>

<!-- main JS libs -->
<script src="{{static_url('js/libs/modernizr.min.js')}}"></script>
<script src="{{static_url('js/libs/jquery-1.10.0.js')}}"></script>
<script src="{{static_url('js/libs/jquery-ui.min.js')}}"></script>
<script src="{{static_url('js/libs/bootstrap.min.js')}}"></script>

<!-- Style CSS -->
<link href="{{static_url('css/bootstrap.css')}}" media="screen" rel="stylesheet">
<link href="{{static_url('css/style.css')}}" media="screen" rel="stylesheet">

<!-- scripts -->
<script src="{{static_url('js/general.js')}}"></script>

<!-- Include all needed stylesheets and scripts here -->
<script type="text/javascript">
            function indexAjax(){
                var temp = $('#na').val();//从第一个输入框里获取数据
                $.ajax({
                    url:"/",//调用的是这个url对应的那个Handler
                    type:"POST",//Post方法
                    data:{dat:temp},//要往服务器传递的数据
                    success:function(arg){//成功从服务端获取到值，参数arg表示从服务端的Handler获取的数据
                        var obj = jQuery.parseJSON(arg);//获取的数据一般为json格式，用这个方法来解析数据
                        console.log(obj.status);
                        console.log(obj.message);
                        console.log(obj.data);
                        $('#nb').val(obj.data[0]);//给第二个输入框赋值
                    },
                    error:function(){//获取失败
                        console.log("failed");
                    }
                });
            }
            function restoreAjax(){
                var temp = $('#restore_short').val();//从第一个输入框里获取数据
                $.ajax({
                    url:"/restore?",//调用的是这个url对应的那个Handler
                    type:"POST",//Post方法
                    data:{dat:temp},//要往服务器传递的数据
                    success:function(arg){//成功从服务端获取到值，参数arg表示从服务端的Handler获取的数据
                        var obj = jQuery.parseJSON(arg);//获取的数据一般为json格式，用这个方法来解析数据
                        console.log(obj.status);
                        console.log(obj.message);
                        console.log(obj.data);
                        $('#restore_long').val(obj.data[0]);//给第二个输入框赋值
                    },
                    error:function(){//获取失败
                        console.log("failed");
                    }
                });
            }
</script>

<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>