
<div class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">免费永久使用</h2>
                <p class="text-center">本项目GitHub开源，现支持手动部署，Docker部署正在coding...</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="https://github.com/GitBlackSir/Tornado_TinyURL.git">GitHub</a></div>
        </div>
    </div>

<div class="brands">
        <a>
        <img width="45" height="57" src="../static/images/apple.png">
        <img width="64" height="64" src="../static/images/centos.png">
        <img width="64" height="64" src="../static/images/pycharm.png">
        <img src="../static/images/python.png">
        <img src="../static/images/tornado1.jpg">
        <img width="73" height="64" src="../static/images/bootstrap.png">
        <img width="150" height="30" src="../static/images/nginx.png">
        <img width="64" height="64" src="../static/images/docker.jpg">
        <img width="64" height="64" src="../static/images/redis.png">
        <img width="64" height="64" src="../static/images/mysql.png">
    </a>
    </div>

   <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="http://1024bit.io" alt="GitHub" target="_blank" >Blog</a></li>|
                <li class="list-inline-item"><a href="https://github.com/GitBlackSir/" alt="GitHub" target="_blank" >GitHub</a></li>|
                <li class="list-inline-item"><a href="http://twitter.com/GitBlackSir/" alt="Twitter" target="_blank" >Twitter</a></li>|
                <li class="list-inline-item"><a href="mailto:gitblacksir@gmail.com" alt="email" target="_blank">Email</a></li>|
                <li class="list-inline-item"><a href="mailto:gitblacksir@gmail.com" alt="email" target="_blank">About</a></li>
            </ul>
            <p class="copyright">白宇·14级软件工程(联合培养)·本科毕业设计 <a href="http://tinyurl.1024bit.io/">龙卷风·短网址TinyURL </a><a>All Rights Reserved.</a></p>
            <p class="copyright">2018.3</p>
        </footer>
    </div>