<!--<div class="header-dark">-->
        <!--<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">-->
            <!--<div class="container">-->
                <!--<a class="navbar-brand" href="{{ reverse_url('index') }}">龙卷风·短网址Beta</a>-->
                <!--<button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>-->
                    <!--<div class="collapse navbar-collapse"id="navcol-1">-->
                        <!--<ul class="nav navbar-nav">-->
                            <!--<li class="nav-item" role="presentation"><a class="nav-link" href="{{ reverse_url('index') }}">长网址压缩</a></li>-->
                            <!--<li class="nav-item" role="presentation"><a class="nav-link" href="{{ reverse_url('restore') }}">短网址还原</a></li>-->
                            <!--<li class="nav-item" role="presentation"><a class="nav-link" href="http://1024bit.io/projects">PROJECT & API</a></li>-->
                            <!--<li class="nav-item" role="presentation"><a class="nav-link" href="http://1024bit.io">BLOG</a></li>-->
                        <!--</ul>-->
                        <!--<form class="form-inline mr-auto" target="_self"></form>-->
                        <!--<a class="btn btn-light action-button" role="button" href="#">Docker</a>-->
                    <!--</div>-->
                <!--</div>-->
        <!--</nav>-->
        <!--&lt;!&ndash;<div class="container hero">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-md-8 offset-md-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h1 class="text-center">A fast, simple & powerful </h1>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="embed-responsive embed-responsive-16by9">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<input type="text" name="name" placeholder="Name" class="form-control" />&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<iframe class="embed-responsive-item" src=""></iframe>&ndash;&gt;&ndash;&gt;-->

                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="{{ reverse_url('index') }}">龙卷风·短网址Beta</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="http://1024bit.io/blog/2018/05/01/基于分布式发号器的短网址系统API-Reference/">API文档</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="http://1024bit.io">博客</a></li>
                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#">Docker</a></span></div>
        </div>
    </nav>
</div>